.hidden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/* region reset */
h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* textarea {
    resize: none;
} */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* common */
.container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list, .contacts {
    display: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/* #endregion header */
/* #region mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    background-color: #e7e9fc;
    padding: 0;
}
.mobile-icon-close {

}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mobile-nav-link.current {
    color: #404bbf;
}
.mobile-contacts {
    font-style: normal;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-link.current {
    color: #4d5ae5;
}
.social-list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 48px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #F4F4FD;
    stroke: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* #endregion mobile menu */
/* #region hero */
.section-hero {
    max-width: 320px;
    margin: 0 auto;
    background: #2e2f42;
    padding: 72px 0;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-mobile.jpg");
    background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-mobile@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .section-hero {
         max-width: 768px;
         padding: 112px 0;
         background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/hero-tablet.jpg");
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/hero-tablet@2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .section-hero {
         max-width: 1440px;
         padding: 188px 0;
         background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/hero-desktop.jpg");
    }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url("../images/hero-desktop@2x.jpg");
    }
}

.title-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
    .title-hero {
        font-size: 56px;
        line-height: 1,07;
        margin: 0 auto 36px;
        max-width: 496px;
    }
}
@media screen and (min-width: 1156px) {
    .title-hero {
        margin: 0 auto 48px;
    }
}

.btn-order {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1156px) {
    .btn-order:hover, .btn-order:focus {
    background-color: #404bbf;
    }
}
/* #endregion hero */
/* #region features */

.section-features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-items {
    flex-basis: 100%;
}

.features-wrapper {
    display: none;
}

.features-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
        }
    .features-items {
        flex-basis: calc((100% - 24px) / 2);
    }
    .features-item {
        text-align: left;
     }
}
@media screen and (min-width: 1156px) {
    .section-features {
        padding: 120px 0;
    }
    .features-list {
        flex-wrap: nowrap;
    }
    .features-items {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .features-wrapper {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        padding: 24px 100px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }
    .features-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .features-text {
        font-weight: 400;
        font-size: 16px;
    }
    
    .strategy-antenna {
        color: #404bbf;
    }
}
/* #endregion features */
/* #region section team */
.section-team {
    background: #f4f4fd;
    padding: 96px 0;
}
.container .team-container {
     max-width: 360px;
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title-text {
    padding: 32px 0 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #F4F4FD;
    stroke: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404bbf;

}
@media screen and (min-width: 1156px) {
    .team-list {
     flex-wrap: nowrap;
    }
}
/* #endregion section team */
/* #region portfolio */

.img-size {
    width: 100%;
    height: auto;
}

.portfolio {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .portfolio {
    padding: 120px 0;
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        column-gap: 24px;
    }
}
@media screen and (max-width: 1155px) {
    .overlay-text {
        display: none;
    }
}
.portfolio-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
    .portfolio-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
}
@media screen and (min-width: 1156px) {
    .portfolio-item {
        flex-basis: calc((100% - 2 * 24px) / 3);
    }
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%)
}

@media screen and (min-width: 1156px) {
   .thumb {
        position: relative;
        overflow: hidden;
    }
   .overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-item-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: start;
}

/* #endregion portfolio */
/* #region footer */
.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.container.footer-container {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container.footer-container {
            padding: 0 108px;
        }
}

@media screen and (min-width: 1158px) {
    .container.footer-container {
        padding: 0;
    }
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
    text-align: center;

}
@media screen and (min-width: 768px) {
    .footer-container {
        column-gap: 24px;
        justify-content: start;
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
}

@media screen and (min-width: 1158px) {
    .logo-container {
            margin-right: 120px;
        }
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    text-align: left;
}
@media screen and (min-width: 768px) {
    .footer-text {
        max-width: 264px;
    }
}


.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.socials-link.footer-link:hover,
.socials-link.footer-link:focus {
    background-color: #31d0aa;
}

.socials-link.footer-link:active {
    background-color: #31d0aa;
}


@media screen and (min-width: 1158px) {
    .subscribe-container { 
        margin-left: auto;
        }
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
        }
}

.subscribe-input {
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    background: none;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
    .subscribe-input {
        max-width: 264px;
    }
}

.subscribe-input::placeholder {
    color: #bbb;
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
}

.subscribe-icon {
    fill: #fff;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: #404bbf;
}

/* #region footer */